@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Modak&family=Srisakdi:wght@400;700&display=swap');
*{
    margin: auto;
    padding: auto;
}


body{
    background-color: black;
    
}


.logo{
    display: block;
    width: 1280px;
    height: 720px;  
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    padding-right: 4%;
    animation-name: AAA;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-play-state:paused;
    animation-iteration-count :1;
    animation-fill-mode: forwards;
    & img{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 1280px;
        height: 720px;
        margin-bottom: 5%;
    }
}

.start{
    display: block;
    width: 1280px;
    margin-left: auto;
    margin-right: auto;
    
    & .mmm{
        
        font-size: 50px;
        font-family: "Kanit", serif;
        font-weight: 700;
        font-style: normal;
        display: block;
        background-color: aliceblue;
        width: 150px;
        height: 75px; 
        margin-left: auto;
        margin-right: auto;
        border-radius: 45px; 
        border-width:0px ;


        animation-name: AAA;
        animation-duration: 1s;
        animation-timing-function: ease-in-out;
        animation-play-state:paused;
        animation-iteration-count :1;
        animation-fill-mode: forwards;
    }

    & .mmm:hover{
        width: 170px;
        height: 75px; 
        margin-left: auto;
        margin-right: auto;
        border-radius: 40px; 
    }
    
}


@keyframes AAA{
    0%{

    }

    50%{
        transform: translateX(-50px);
    }
    100%{
        transform: translateX(5000px);
    }
    
}